
script
  function showTemplate(id) {
    const template = document.getElementById(id);
    if (template) {
      const html = template.content.cloneNode(true);
      const container = $('#modal-content');
      const modalContainer = container.find('.modal');
      container.html(html);
      const closeButton = container.find('.modal__close');
    }
    window.onclick = event => {
    if (event.target === modalContainer[0]) {
      clearModal(container);
        }
      }
  }
  showTemplate('#');

  function clearModal(container) {
    container.html('');
    switchOverflow(false);
  }

  function switchOverflow(open) {
    if (open) {
      $('body').addClass('freezePage');
    } else {
      $('body').removeClass('freezePage');
    }
  }



//pug
template#modal-cert
  div#cert-modal.modal
    .modal__content
      //..


style 
  .modal {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-top: 40px;
    padding-bottom: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
    padding-left: 30px;
    padding-right: 30px;
    -webkit-overflow-scrolling: touch;
    max-height: none;
    @media (max-width: 600px) {
      padding: 0;
      align-items: flex-start;
      background-color: #fffaef;
    }
  }
  .freezePage {
    overflow: hidden;
    height: 100%;
    position: relative;
  }
