//sticky header, sticky element is not first
// implemented in restomarket

script 
  $(function() {
    const fixHeader = () => {
      const headerBottom = document.querySelector(".header__bottom");
      const headerMain = document.querySelector(".header__main");
      const mainContainer = document.querySelector(".main");
      let sticky = headerBottom.offsetTop;
      let stickyMobile = headerMain.offsetTop;

      if (window.pageYOffset > sticky) {
        headerBottom.classList.add("fixed");
        mainContainer.classList.add("fixed-header");
      } else {
        headerBottom.classList.remove("fixed");
        mainContainer.classList.remove("fixed-header");
      }
    };
    $(window).scroll(() => {
      fixHeader();
    });
  });


style
  .main {
    flex-grow: 1;

    &.fixed-header {
      @media (min-width: 991px) {
        padding-top: 56px;
      }
    }

    &.fixed-mobile-header {
      @media (max-width: 990px) {
        padding-top: 55px;
      }
    }
    }

// sticky header, on scroll up show
// header is the first element
// implemented in glav-beer.ru
script 
  $(function() {
    function stickyUp(e) {
      const header = $(".header");
      const headerHeight = $(".header__navbar").height();
      const navbarLogo = $(".navbar__logo");
      let scrollPos;
      scrollPos = this.scrollY;
      if (this.oldScroll < this.scrollY && scrollY > headerHeight + 130) {
        header.addClass("header-fixed");
        header.removeClass("header-fixed-visible");
      } else if (this.oldScroll > this.scrollY) {
        header.addClass("header-fixed-visible");
        if (scrollPos < 350) {
          header.removeClass("header-fixed-visible header-fixed");
        }
      }
      this.oldScroll = this.scrollY;
    }
    window.onscroll = function(e) {
      stickyUp(e);
    };
  });

style 
  .header-fixed {
    position: fixed;
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

    @media (max-width: 600px) {
      height: 60px;
      overflow: initial;
      position: relative;
      left: initial;
      top: initial;
    }
  }

  .header-fixed-visible {
    height: 60px;
    overflow: initial;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    @media (max-width: 600px) {
      height: 60px;
      overflow: initial;
      position: relative;
      left: initial;
      top: initial;
    }
  }
  .header-fixed-visible + .main {
    padding-top: 80px;
    @media (max-width: 1400px) {
      padding-top: 59px;
    }
  }

  .header-fixed + .main {
    padding-top: 80px;
    @media (max-width: 1400px) {
      padding-top: 59px;
    }
  }
